@import "./node_modules/normalize.css/normalize.css";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(12, 41, 71);
    height: 100vh;
}

header {
   height: 1px;
}


nav {
    background-color: rgba(17, 72, 79, 0.705);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    line-height: 80px;
    
}


a {
    color: rosybrown;
    text-decoration: none;
    
}


#shouldYou {
    margin-left: 10px;
    font-size: 25px;
}

#doIt {
}


ul {
    /*float: right;*/
    list-style: none; 
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;

}

#home {
    margin: 25px;
}


main {
    height: 97%;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    margin-left: 70px;
    margin-left: 120px;
    color:violet;
}

form {
    display: block;
    
    

}

#inputBar{
    width: 570px;
    height: 45px;
    padding-left: 8px;
    background-color: rgba(238, 130, 238, 0.336);
    border-radius: 1rem; /*- rem (tamanho da fonte do elemento raiz ) ( elemento html*/

}

#submitButton {
    width: 583px;
    height: 45;
    border-radius: 1rem;
    display:block;
    margin-top: 10px;   
    padding: 10px;
    background-color: violet;
    
}



#nunoNeto {
    text-decoration: underline;
}




footer {
    display: flex;
    justify-content: center;
    color: violet;
    font-size: 20px;
}




